html, body {
  text-align: center;
  background-image: url("https://previews.123rf.com/images/pachaileknettip/pachaileknettip1509/pachaileknettip150900216/45204633-corkboard-texture-background.jpg");
  height: 100%;
  min-height: 100%;
  background-size: cover;
}

.App{
  display:flex;
  flex-direction: column;
}
.post{
  max-width: 300px;
  margin: 0 auto;
}

h1{
  text-align: center;
}